#section-1 {
  top: 100px;
  height: 40vw;
  background-image: url("../images/miestas.png");
  background-position: center;
  background-size: cover;
  background-color: grey;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-around;
  align-items: center;

  #pirmas {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 40%;

    img {
      width: 250px;
    }

    h1 {
      font-size: 40px;
      font-weight: lighter;
      color: white;
      line-height: 45px;
    }

    hr {
      width: 13%;
      border: 1px solid white;
    }

    p {
      color: #d3d5d6;
      width: 100%;
      line-height: 28px;
      font-size: 1.3rem;
    }

    button {
      color: white;
      border: 2px solid white;
      background-color: transparent;
      padding: 10px;
      width: 120px;
    }

    button:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }

  #form1 {
    display: flex;
    flex-direction: column;
    background: white;
    width: 400px;
    border-radius: 10px;

    h1 {
      border-radius: 10px 10px 0 0;
      text-align: center;
      padding: 10px;
      font-size: 22px;
      background: whitesmoke;
      width: 100%;
    }

    p {
      font-weight: bold;
      margin: 10px;
      margin-top: 20px;
      margin-left: 12%;
      margin-right: 12%;
    }

    input {
      border: none;
      border-bottom: 1px solid gray;
      padding: 10px;
      margin: 10px;
      margin-right: 12%;
      margin-left: 12%;
    }

    #radio {
      display: flex;
      align-items: center;
    }

    input[type="radio"] {
      accent-color: green;
    }

    #iradio {
      margin-right: 1px;
      transform: scale(0.8);
    }

    label {
      transform: scale(0.8);
    }

    #orange {
      color: orange;
    }

    button {
      border: none;
      background: #41d395;
      color: white;
      padding: 10px;
      border-radius: 0 0 10px 10px;
      font-size: 22px;
    }

    button:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media (max-width: 1400px) {
  #section-1 {
    height: auto;
    flex-direction: column;

    #form1 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 800px) {
  #section-1 {
    #pirmas {
      width: 60%;
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 650px) {
  #section-1 {
    #pirmas {
      width: 60%;
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.7rem;
      }
    }
  }
}
